@model IEnumerable<WhoLivesApp.Models.ResidentIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Moradores</h2>

<p>
    @Html.ActionLink("+ Adicionar novo morador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MOR_NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOR_SOBRENOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AP_NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUN_NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MOR_NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOR_SOBRENOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AP_NUMERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FUN_NOME)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.MOR_ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.MOR_ID })|
            @Html.ActionLink("Detalhes", "Details", new { id = item.MOR_ID })
        </td>
    </tr>
}

</table>
