@model WhoLiveApp.Models.Apartament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AP_NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_ATENCAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_ATENCAO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
